---
import Layout from '../../../layouts/Layout.astro'
import { Header } from '../../../components/Header'
import Footer from '../../../components/Footer.astro'
import products from '../../../mocks/equipos.json'
import SwiperProductImage from '../../../components/SwiperProductImage.astro'

export async function getStaticPaths() {
  const pages = products
  return pages.map(({ slug, name, description, images, category }) => {
    return {
      params: { slug },
      props: { name, description, images, category }
    }
  })
}

const { name, description, images, category } = Astro.props
---

<Layout title={`Equipo ${name} - Red y Printerx`}>
  <Header client:load />
  <main
    class="pb-20 min-h-[calc(80vh-72px)] px-2 bg-blanco grid place-content-center rounded-3xl mt-[72px] container w-[90%] mx-auto animate-in fade-in duration-1000"
  >
    <h1 class="text-3xl text-center p-8 font-medium">{name}</h1>
    <SwiperProductImage images={images} name={name} />
    <small class="text-center pt-8"
      ><span class="font-medium text-sm">Categoría: {' '}</span>{
        category ? category : ' Indefinida'
      }</small
    >
    <article class="mt-5 max-w-[65ch] mx-auto product">
      <Fragment class="text-center pt-8 w-full" set:html={description} />
    </article>
  </main>
</Layout>

<Footer />

<style is:global>
  .product h2 {
    font-weight: 700;
  }

  .product ul {
    list-style: disc;
    margin-left: 2rem;
  }

  .product ul li {
    margin-bottom: 0.5rem;
  }

  .product p {
    text-wrap: balance;
  }
</style>
