---
import Layout from '../../layouts/Layout.astro'
import { Header } from '../../components/Header'
import Footer from '../../components/Footer.astro'
import products from '../../mocks/equipos.json'

export async function getStaticPaths() {
  const pages = products
  return pages.map(({ slug, name, description, images, category }) => {
    return {
      params: { slug },
      props: { name, description, images, category }
    }
  })
}

const { name, description, images, category } = Astro.props
---

<Layout title={`Equipo ${name} - Red y Printerx`}>
  <Header client:load />
  <main
    class="pb-20 min-h-[calc(80vh-72px)] bg-blanco grid place-content-center rounded-3xl mt-[72px] container mx-auto animate-in fade-in duration-1000"
  >
    <h1 class="text-3xl text-center p-8 font-medium">{name}</h1>
    <img
      class="w-96 h-96 object-contain mix-blend-multiply mx-auto rounded-lg shadow-sm"
      src={images[0]}
      alt={`puede ser una imagen del equipo medico ${name}`}
    />
    <small class="text-center pt-8"
      ><span class="font-medium text-sm">Categoría:</span>{
        category ? category : ' Indefinida'
      }</small
    >
    <p class="text-center pt-8">{description}</p>
  </main>
  <Footer />
</Layout>
